footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    font-size: 9px;
}

#calendar {
    width: 50%;
    margin: 20% auto;
}

input.invalid {
    border: 1px solid red;
}

label.invalid {
    padding-left: 16px;
    padding-bottom: 2px;
    font-weight: bold;
    color: red;
}